body {
    font-family: Roboto, "Times New Roman", sans-serif;
}

.top {
    background-color: #1f2937;
    margin: 10px 50px;
}

header {
    color: #e5e7eb;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
}

.headerLinks {
    display: flex;
    justify-content: space-between;
    gap: 12px;
}